body{margin:0;
background-image: url("../public/bgpic.jpg");
background-size: 100vw;
}
.App {
  text-align: center;
}
button{
  border-style: none;
  padding:25px;
  font-size:1.6em;
  font-weight:bold;
  border-radius: 5%;
}
button:hover{
background-color:rgb(184, 182, 182);
}
.head{
  text-align:center;
  background-color: lightgray;
  color:gray;
  font-family:sans-serif;
  padding:10px;
  margin-top:0;
}
.things{
  font-size:1.2em;
}
